html {
  font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-variant: tabular-nums;
}

.green-c {
  color: #3cbc98;
}
.red-c {
  color: rgba(255, 88, 91, 1);
}
.black-c {
  color: rgba(74, 74, 74, 1);
}
.gray-c {
  color: rgba(187, 187, 187, 1);
}
.white-c {
  color: white;
}
.black-b {
  background: #101f32;
}
.white-b {
  background: white;
}
.blue-c {
  color: #409eff;
}
.circle {
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.hc {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.wc {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.ac {
  text-align: center;
}
.mc {
  margin: 0 auto;
}
.bt {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.left {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.right {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.up {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.down {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.wrap {
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
}
.bold {
  font-weight: bold;
}
.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex,
.left,
.hc,
.right,
.wc,
.up,
.bt,
.down,
.col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pd-l,
.pd,
.pd-lr {
  padding-left: 10px;
}
.pd-r,
.pd,
.pd-lr {
  padding-right: 10px;
}
.pd-t,
.pd,
.pd-tb {
  padding-top: 10px;
}
.pd-b,
.pd,
.pd-tb {
  padding-bottom: 10px;
}

.mg-l,
.mg,
.mg-lr {
  margin-left: 10px;
}
.mg-r,
.mg,
.mg-lr {
  margin-right: 10px;
}
.mg-t,
.mg,
.mg-tb {
  margin-top: 10px;
}
.mg-b,
.mg,
.mg-tb {
  margin-bottom: 10px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.px80 {
  font-size: 80px;
}
.px60 {
  font-size: 60px;
}
.px32 {
  font-size: 32px;
}
.px28 {
  font-size: 28px;
}
.px24 {
  font-size: 24px;
}
.px20 {
  font-size: 20px;
}
.px18 {
  font-size: 18px;
}
.px16 {
  font-size: 16px;
}
.px15 {
  font-size: 15px;
}
.px14 {
  font-size: 14px;
}
.px13 {
  font-size: 13px;
}
.px12 {
  font-size: 12px;
}
.rem80 {
  font-size: 80rem;
}
.rem60 {
  font-size: 60rem;
}
.rem32 {
  font-size: 32rem;
}
.rem28 {
  font-size: 28rem;
}
.rem24 {
  font-size: 24rem;
}
.rem20 {
  font-size: 20rem;
}
.rem18 {
  font-size: 18rem;
}
.rem16 {
  font-size: 16rem;
}
.rem15 {
  font-size: 15rem;
}
.rem14 {
  font-size: 14rem;
}
.rem13 {
  font-size: 13rem;
}
.rem12 {
  font-size: 12rem;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
img,
form {
  padding: 0;
  margin: 0;
}
table,
td,
tr,
th {
  font-size: 12px;
}
li {
  list-style-type: none;
  list-style: none;
}
img {
  vertical-align: top;
  border: 0;
}
ol,
ul {
  list-style: none;
}
a {
  cursor: pointer;
}
.a {
  cursor: pointer;
}
